<a href="https://colab.research.google.com/github/shyexnnn/PythonStudy/blob/master/for%EB%AC%B8_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**for문**

In [ ]:
test_list = ["haha", "hihi", "nana"]
for i in test_list:
  print(i)

haha
hihi
nana

In [ ]:
ha = [(1,2), (3,4), (5,6)]
for (f,l) in ha:
  print(f+l)

3
7
11

In [ ]:
marks = [90, 25, 67, 45, 80]
for i in marks:
  if i>=60: 
    print("%d점은 합격" % i)
  else:
    print("불합격")

90점은 합격
불합격
67점은 합격
불합격
80점은 합격

## for문과 continue

In [ ]:
marks = [90, 25, 67, 45, 80]
num = 0
for i in marks:
  num = num+1
  if i<60:
    continue # for문 실행 중 continue 만나면 for문 처음으로 돌아감 
  print("%d 축하합니다." % num)

1 축하합니다.
3 축하합니다.
5 축하합니다.

## range 함수

In [ ]:
a = range(1, 10) # range(시작숫자, 끝숫자), 끝숫자 포함 X
a

range(1, 10)

In [2]:
m = [98,45,33,66,41]
n = 0
for n in range(len(m)): # len: 리스트 안의 요소 개수 돌려주는 함수
  if m[n] < 60:
    continue
  print("%d번 학생 ㅊㅊ. 합격" % (n+1))

1번 학생 ㅊㅊ. 합격
4번 학생 ㅊㅊ. 합격

In [7]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end = " ") # end: 같은줄에 결과값 표시
  print(" ") # 2,3단 등을 구별 위해 사용, 두번째 for문이 끝나면 다음줄에 결과값 출력

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 리스트 컴프리헨션

[표현식 for 항목 in 반복가능객체 if 조건문]

In [10]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 ==0] # a를 num안에 넣고 num을 3번 반복한다. 이때 짝수에만 x3
print(result)

[6, 12]

In [11]:
result = [i*j for i in range(2,9)
              for j in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72]