<a href="https://colab.research.google.com/github/shyexnnn/PythonStudy/blob/master/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **리스트 자료형**

## **리스트 연산하기**


---

1. 리스트 더하기(+)

In [ ]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

리스트 사이에서 + 기호는 2개의 리스트를 합치는 기능이다

2. 리스트 반복하기(*)

In [ ]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

3. 리스트 길이 구하기(len)

In [ ]:
a = [1,2,3,4,5]
len(a)

5

## **리스트 수정, 삭제**


---

1. 리스트에서 값 수정하기

In [ ]:
a = [1,2,3]
a[1] = 4
a

[1, 4, 3]

2. del 함수 사용해 리스트 요소 삭제

In [ ]:
a = [1,2,3,4,5]
del a[1]
a

[1, 3, 4, 5]

In [ ]:
a = [1,2,3,4,5]
del a[3:]
a

[1, 2, 3]

슬라이싱 기법을 사용해 리스트의 요소 여러 개를 삭제 가능

## **리스트 관련 함수**


---

1. 리스트에 요소 추가(append)

In [ ]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

2. 리스트 정렬(sort)

sort 함수는 리스트의 요소를 순서대로 정렬해줌

In [ ]:
a = [2,3,1,4]
a.sort()
a

[1, 2, 3, 4]

3. 리스트 뒤집기(reserve)

In [ ]:
a = ['a','c','b']
a.reverse() # 역순으로 뒤집음
a

['b', 'c', 'a']

4. 리스트에 요소 삽입(insert)

In [ ]:
a = [1,2,3]
a.insert(0, 5)
a

[5, 1, 2, 3]

5. 리스트 요소 제거(remove)

In [ ]:
a = [1,2,3]
a.remove(2)
a

[1, 3]

6. 리스트에 포함된 요소 x의 개수 세기(count)

In [ ]:
a = [1,2,4,5,2,2]
a.count(2)

3

7. 리스트 확장(extend)

In [ ]:
a = [1,2,3]
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

# **튜플 자료형**

리스트와의 차이점

*   [  ] 대신 ( ) 사용
*   요소 값 변경 불가능

In [ ]:
t1 = (1, 2, 3)
t2 = (1, ) # 1개만의 요소를 가질 때 콤마 꼭
t3 = ()
t4 = 1, 2, 3 # 괄호 생략 가능