<a href="https://colab.research.google.com/github/shyexnnn/PythonStudy/blob/master/%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **문자열 자료형**

## **문자열 인덱싱과 슬라이싱**


---
인덱싱은 "가리킨다"라는 의미, 슬라이싱은 "잘라낸다"의 의미

1. 인덱싱

In [ ]:
a = "Life is too short, You need Python" 
a[12] # 0부터 숫자 셈. a[12]는 공백 포함 0부터 12번째의 자리

's'

In [ ]:
a = "Life is too short, You need Python"
a[-1] # a[-1]을 적으면 뒤에서 부터 읽음. a[-0]과 a[0]은 같음

'n'

2. 슬라이싱

In [ ]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [ ]:
a = "Life is too short, You need Python"
a[0:5] # a[0:5]는 0부터 5까지의 문자 뽑아냄. a는 0 <= a < 5

'Life '

*   a[시작번호:]: 끝번호 생략하면 시작번호부터 문자열 끝까지 뽑아냄
*   a[:끝번호]: 시작번호 생략하면 문자열 처음부터 끝까지 뽑아냄
*   a[:]: 시작번호, 끝번호 생략하면 문자열 처음부터 끝까지 뽑아냄

## **문자열 포매팅**


---
문자열 안의 특정한 값을 바꿔야 할 경우 이것을 가능하게 해주는 것이 문자열 포매팅

1. 숫자 바로 대입

In [ ]:
"I eat %d apples." % 3 # %d에 원하는 문자 넣고, 가장 뒤에 원하는 숫자를 %3으로 씀. %d는 문자열 포맷 코드

'I eat 3 apples.'

2. 문자열 바로 대입

In [ ]:
"I eat %s apples." % "one" # 문자열 대입할때 큰따옴표나 작은따옴표 꼭 쓰기

'I eat one apples.'

3. 숫자 값을 나타내는 변수로 대입

In [ ]:
num = 3
"I eat %d apples." % num

'I eat 3 apples.'

4. 2개 이상의 값 넣기

In [ ]:
num = 4
day = "three"
"I ate %d banana. so I was sick for %s days." % (num, day) # 2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마로 구분

'I ate 4 banana. so I was sick for three days.'

### **포맷 코드와 숫자 함께 사용**

---

1. 정렬과 공백

In [ ]:
"%20s" % "hi" # %20s는 전체 길이 20인 문자열 공간에서 대입되는 값을 오른쪽에 정렬, 나머지는 공백. 왼쪽 정렬은 %-20s

'                  hi'

2. 소수점 표현하기

In [ ]:
"%10.4f" % 3.421345 # 소수점 4까지 표시, 전체 길이 10인 문자열을 오른쪽에 정렬

'    3.4213'

### **format 함수를 사용한 포매팅**


---

1. 숫자 바로 대입하기

In [ ]:
"I eat {0} apples".format(3)

'I eat 3 apples'

2. 문자열 바로 대입하기

In [ ]:
"I eat {0} apples".format("five")

'I eat five apples'

3. 숫자 값을 가진 변수로 대입하기

In [ ]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

4. 2개 이상의 값 넣기

In [ ]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

5. 이름으로 넣기

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3) # {name} 사용 시 format 함수에는 반드시 name=value와 같은 형태의 입력값 적기

'I ate 10 apples. so I was sick for 3 days.'

6. 인덱스와 이름을 혼용해서 넣기

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

7. 왼쪽 정렬

In [ ]:
"{0:<10}".format("hi") # :<10 사용하면 치환되는 문자열 왼쪽 정렬, 문자열의 총 자릿수를 10으로 맞출 수 있음

'hi        '

8. 오른쪽 정렬

In [ ]:
"{0:>10}".format("hi") # :> = 오른쪽 정렬

'        hi'

9. 가운데 정렬

In [ ]:
"{0:^10}".format("hi") # :^ = 가운데 정렬

'    hi    '

### **f 문자열 포매팅**


---

In [1]:
name = "박성현"
age = 17
f'내 이름은 {name}. 나이는 {age}.'

'내 이름은박성현. 나이는 17.'

In [ ]:
age = 17
f'나는 내년이면 {age+1}살이 된다.' # 표현식: 문자열 안에서 변수와 +, -와 같은 수식을 함께 사용하는 것

In [ ]:
f'{"hi":<10}'  # 왼쪽 정렬
f'{"hi":>10}'  # 오른쪽 정렬
f'{"hi":^10}'  # 가운데 정렬

In [4]:
y = 3.42134234
f'{y:10.4f}' # 소수점 4자리까지 표현하고 자리 10으로 맞춤

'3.4213'

## **문자열 관련 함수**


---
문자열 내장함수는 자체적으로 함수를 가지고 있는 것이다. 내장 함수를 사용하려면 문자열 변수 이름 뒤에 ‘.’를 붙인 다음에 함수 이름을 써주면 된다.

1. 문자 개수 세기(count)

In [5]:
a = "hobby"
a.count('b')

2

2. 위치 알려주기1(find)

In [6]:
a = "Python is the best choice"
a.find('b') # 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환

14

3. 위치 알려주기2(index)

In [7]:
a = "Life is too short"
a.index('t') # 찾는 문자나 문자열이 존재하지 않는다면 오류 발생

8

4. 문자열 삽입(join)

In [8]:
",".join('abcd')

'a,b,c,d'

5. 소문자를 대문자로 바꾸기(upper)

In [9]:
a = "hi"
a.upper() # 소문자는 lower

'HI'

6. 왼쪽 공백 지우기(lstrip)

In [10]:
a = " hi "
a.lstrip() # 오른쪽 공백 지우기 rstrip, 양쪽 공백 지우기 strip

'hi '

7. 문자열 바꾸기(replace)

In [11]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

8. 문자열 나누기(split)

In [12]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']